html
  head
    meta(charset="utf-8")
    title #{APPNAME}

  body
    div#lc-app
      h1.title {{appName}} demo page.
      div {{appName}} is a light weight MVVM UI framework that written in TypeScript.
      my-component
