div.my-component.lc-js
  h1.title MyInfo
  p(:style="font-size: {{age}}px") Name: {{name}}
  p Age: {{age}}
  p
    | Address:
    br
    | I'm live in&nbsp;
    span(style="color: red") {{address[0] + ', ' + address[1]}}

  button(@click="") Show my age
